@charset "UTF-8";
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,table,textarea{font-size:12px;font-family:"Apple SD Gothic Neo",Dotum,'돋움',Helvetica,sans-serif}
button,input{border-radius:0}
fieldset,img{border:0}
ol,ul{list-style:none}
address,em{font-style:normal}
a{text-decoration:none}
a:hover{text-decoration:underline}
iframe{overflow:hidden;margin:0;padding:0;border:0}

input,p{display: inline-block;}
input:focus{border:none;}


html{
  -webkit-text-size-adjust:none;
}
*{
  box-sizing: border-box !important;
}
/* IE and Edge, Firefox */
.wrapper, .ul{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* Chrome, Safari, Opera*/
.wrapper::-webkit-scrollbar {
  display: none;
}
ul::-webkit-scrollbar {
  display: none;
}
