/* effects */

.hide{
  display: none!important;
}
.off{
  opacity: 0;
  transition: opacity 1.5s 0.5s;
}
navi.off{
  opacity: 0.15;
}
.goUp{
  transform: translateY(-100%);
  transition: transform 1.5s 2s;
}
@keyframes fadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.65;
  }
}


/* 버튼 */
.settings{
  position: fixed;
  border: 2px solid rgba(240, 240, 240, 0.9);
  border-radius: 0.3em;
  top: 2em;
  right: 1em;
  width: 6.5em;
  padding: 0.1em;
  font-size: 1em;
  background-color: rgba(240, 240, 240, 0.95);
}
.settings>p{
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: bolder;
}
.settings li{
  cursor: pointer;
  color: rgb(100, 100, 100);
  font-size: 0.9em;
  padding: 0.15em;

}
.icon-cog-1{
  position: fixed;
  top: 0.3em;
  right: 0.3em;
  display: inline-block;
  font-size: 1.25em;
  vertical-align: middle;
  cursor: pointer;
}
.icon-list-add,button[type=submit]{
  background: none;
  border: none;
  color:inherit;

  position: absolute;
  right: 0em;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
}
.icon-trash{
  position: absolute;
  font-size: 0.85em;
  right: 0.5em;
}


/* wrapper */

.wrapper{
  position:absolute;
  width:100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}


/* header */

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  border-radius: 5px;
  color: rgb(235, 235, 235, 0.9);
  font-size: 1.8em;
  background-color: rgba(120, 120, 120, 0.95);
  z-index: 5;
}
#greeting{
  display: inline-block;
  font-size: 1.2em;
  margin: 0.1em;
  padding: 0.2em;
  font-weight: bolder;
  vertical-align: middle;
}
#greeting input{
  display: inline-block;
  background: transparent;
  color:rgb(255, 255, 255);
  font-size: 1em;
  width: 12em;
  border: none;
  border-radius: 0.1rem;
}
#greeting input::placeholder{
  padding-left: 0.5em;
  color:rgb(255, 255, 255);
}

/* footer */

footer{
  position: relative;
  background-color: rgba(56, 109, 245, 0.9);
  height: 10vh;
  width: 100vw;
  scroll-snap-align: end;
}
#QR_code{
  max-height: 10vh;
  z-index: 99;
}
#GitHub_Link{
  position: absolute;
  font-size: 1.4rem;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

navi{
  display: none;

  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(255,255,255);
  width: 7px;
  height: 40%;
  border-radius: 5px;
  right: 5vw;
  top:50%;
  transform: translateY(-50%);
  z-index: 3;
}


/* main */
main{
  scroll-behavior: smooth;
}
#place{
  position:fixed;
  color: rgb(255, 255, 255);
  min-width: 6em;
  text-align: center;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
  z-index: 2;
}
#weather{
  position:fixed;
  color: rgb(255, 255, 255);
  /* max-width: 8.5em; */
  text-align: right;
  font-size: 1rem;
  top: 3rem;
  right: 1rem;
  z-index: 2;
}

/* center */

.center{
  position: fixed;
  font-size: 1.3rem;
  width: 22em;
  top: calc(40vh);
  left: calc(50vw);
  transform: translate(-50%, -20%);
  z-index: 10;
}
.clock{
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  font-size:  5em;
  font-weight: bold;
  text-align: center;
}
.context{
  position: relative;
  margin:2em 0.8em;
  font-size: 1.5em;
  font-weight: 1000;
  color: rgb(200, 220, 220);
}
#form_todo{
  position: relative;
}
#form_todo input[type=text]{
  vertical-align: middle;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 0.8em;
  padding-left: 0.5em;
  border: none;
  border-radius: 0.2em;
  margin-left: 0.5em;
  color: inherit;
}
#form_todo input[type=text]::placeholder{
  color: rgba(0, 0, 0, 0.55);
}
#form_todo input[type=submit]{
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0.15em;
  opacity: 0.9;
  font-size: 0.5em;
  border-radius:0.25em;
}

#todo_list{
  max-height: 55vh;
  margin-top: 0.5em;
  overflow-y: scroll;
  /* overscroll-behavior: contain; */
  scroll-behavior: smooth;
}
#todo_list li{
  vertical-align: middle;
  width: 80%;
  overflow-x: scroll;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 0.8em;
  padding-left: 0.2em;
  border: none;
  border-radius: 0.2em;
  margin-left: 0.5em;
  margin-bottom: 0.2em;
}

/* background */
.background{
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: 0.65;

  scroll-snap-align: start;
  scroll-snap-stop: always;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  animation: fadeIn 2s ease-in-out;
}
.dimmed{
  background-color: rgba(0, 0, 0);
  position:fixed;
  top:0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

/* pages */
/* #page1{
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)),
  url(../img/desktop/1.jpg);
}
#page2{
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)),
  url(../img/desktop/6.jpg);
}
#page3{
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.1)),
  url(../img/desktop/2.jpg);
} */

/* 모바일 */
@media(max-device-aspect-ratio:9/16){
  html{
    font-size: 0.75rem;
  }
}
