/* effects */

.hide{
  display: none!important;
}
.off{
  opacity: 0;
  transition: opacity 2s 0.3s;
}
navi.off{
  opacity: 0.15;
}



/* 버튼 */
/* .buttons{
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  vertical-align: middle;
} */
abbr{
  position: fixed;
  right: 1em;
  vertical-align: middle;
}
.checklists{
  position: fixed;
  top: 2em;
  right: 1em;
  width: 150px;
  height: 20vh;
  padding: 0.1em;
  background-color: darkgrey;
  font-size: 0.8em;
}
.icon-list-add{
  border: none;

  position: absolute;
  right: 0.5em;
  border-radius: 5px;
  font-size: 1em;
  vertical-align: middle;
  cursor: pointer;
}
.icon-cog-1{
  display: inline-block;
  font-size: 1em;
  vertical-align: middle;
  cursor: pointer;
}

/* wrapper */

.wrapper{
  position:absolute;
  width:100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}


/* header */

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  z-index: 5;
  background-color: rgba(56, 109, 245, 0.9);
}
#greeting{
  display: inline-block;
  margin: 0.5rem;
  padding: 0.2rem;
  vertical-align: middle;
}
#greeting input{
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.3rem;
  width: 12rem;
  border: none;
  border-radius: 0.25rem;
}
#greeting p{
  display: inline-block;
}

/* footer */

footer{
  position: relative;
  background-color: rgba(56, 109, 245, 0.9);
  height: 10vh;
  witdth:100vw;
  scroll-snap-align: end;
}
footer>a::before{
  width: 300px;
  height: 431px;

  background:url('../QR_code.png') no-repeat left top; // 폭과 높이를 지정해야 이미지 나옴
}
footer>a{
  position: absolute;
  font-size: 1.4rem;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

navi{
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(255,255,255);
  width: 7px;
  height: 40%;
  border-radius: 5px;
  right: 5vw;
  top:50%;
  transform: translateY(-50%);
  z-index: 3;
}


/* main */
main{
  scroll-behavior: smooth;
}


/* page */

.pages{
  position: relative;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* center */

.center{
  position: fixed;
  width: 25rem;
  top: calc(35vh);
  left: calc(50vw);
  transform: translate(-50%, -25%);
  border-radius: 1rem;
  z-index: 10;
}
.clock{
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(255, 255, 255, 0.8);
  /* color : rgb(132, 70, 246); */
  font-size:  4.5rem;
  font-weight: bold;
  text-align: center;
}
form{
  text-align: center;
}
.context{
  position: relative;
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 1000;
  color: rgba(200, 220, 220, 0.9);
  /* color: rgb(38, 76, 175); */
}
.context input[type=text]{
  vertical-align: middle;
  width: 80%;
  font-size: 0.8em;
  border-radius: 0.2em;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.context input[type=submit]{
  vertical-align: middle;
  right: 0em;
  padding: 0.1em;
  opacity: 0.8;
  font-size: 0.5em;
  border-radius:0.25em;
}
.context ul{
  margin-top: 1em;
  max-height: 70vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}
.context ul li{
  position: relative;
  margin-top: 0.2em;
  background-color:rgba(255, 255, 255, 0.10);
  font-size: 0.8em;
  font-weight: 400;
  color: black;
}
.delete{
  position: absolute;
  right: 0;
  font-size: 0.6rem;
  opacity: 0.7;
}

/* pages */
#page1{
  background-image: url(../img/page1.jpg);
}
#page2{
  background-image: url(../img/cityscape-1082277.jpg);
}
#page3{
  background-image: url(../img/spikes-5322390.jpg);
}
